<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />

    <link rel="shortcut icon" href=".././assets/images/favicon.svg" type="image/svg+xml" />
    <title>사계절 이사</title>

    <link rel="stylesheet" href="../../assets/css/main.css" />

    <!-- jquery -->
    <script src="../../assets/js/vendor/jquery/jquery.min.js"></script>
  </head>
  <body>
    <!-- WRAPPER -->
    <div class="wrapper justify--start">
      <!-- HEADER -->
      <header class="header is-sub">
        <h1 class="header-title">비밀번호 찾기</h1>
        <div class="header-utils">
          <button type="button" class="btn">
            <i class="ico ico-arrow-back">뒤로</i>
          </button>
        </div>
      </header>
      <!-- // HEADER -->

      <!-- CONTAINER DEFAULT -->
      <section class="container container-btn"></section>
      <!-- // CONTAINER -->

      <!-- FOOTER -->
      <section class="footer">
        <div class="btn-group">
          <button type="submit" class="btn is-active">선택</button>
        </div>
      </section>
      <!-- // FOOTER -->
    </div>
    <!-- // WRAPPER -->
  </body>
</html>
