<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />

    <link rel="shortcut icon" href=".././assets/images/favicon.svg" type="image/svg+xml" />
    <title>사계절 이사</title>

    <link rel="stylesheet" href="../../assets/css/main.css" />

    <!-- jquery -->
    <script src="../../assets/js/vendor/jquery/jquery.min.js"></script>

    <!-- 마크업 확인용 -->
    <!-- <script type="text/javascript" src="../assets/js/include.js"></script>
    <script defer type="module" src="../assets/js/common.js"></script> -->
  </head>
  <body>
    <!-- WRAPPER -->
    <div class="wrapper">
      <!-- CONTAINER -->
      <section class="container container-float">
        <div style="width: 100%; height: 50%; background-color: black"></div>
      </section>
      <!-- //CONTAINER -->
    </div>
    <!-- // WRAPPER -->
  </body>
</html>
