<!-- 노출 : .show -->
<section class="modal modal-map">
  <div class="dimmed"></div>

  <div class="modal-inner">
    <div class="modal-head">
      <h3 class="tx-title">지도 정보</h3>
      <button type="button" class="btn btn-modal-close">
        <i class="ico ico-x"></i>
      </button>
    </div>
    <div class="modal-body">
      <div class="map-type-list">
        <div class="map-type-group">
          <label>지도 유형</label>

          <div class="btn-group">
            <button type="button" class="btn active">
              <img src="../assets/images/map/map-type-1.png" alt="기본" />
              <span>기본</span>
            </button>
            <button type="button" class="btn">
              <img src="../assets/images/map/map-type-2.png" alt="기본" />
              <span>위성</span>
            </button>
            <button type="button" class="btn">
              <img src="../assets/images/map/map-type-3.png" alt="기본" />
              <span>지형</span>
            </button>
          </div>
        </div>

        <div class="map-type-group">
          <label>지도 유형</label>

          <div class="btn-group">
            <button type="button" class="btn">
              <img src="../assets/images/map/map-type-4.png" alt="기본" />
              <span>교통 정보</span>
            </button>
            <button type="button" class="btn active">
              <img src="../assets/images/map/map-type-5.png" alt="기본" />
              <span>등산로</span>
            </button>
            <button type="button" class="btn">
              <img src="../assets/images/map/map-type-6.png" alt="기본" />
              <span>자전거 도로</span>
            </button>
          </div>
        </div>

        <div class="map-type-group">
          <label>지도 유형</label>
          <div class="btn-group">
            <button type="button" class="btn active">
              <img src="../assets/images/map/map-type-7.png" alt="기본" />
              <span>방범 CCTV</span>
            </button>
            <button type="button" class="btn">
              <img src="../assets/images/map/map-type-8.png" alt="기본" />
              <span>미세먼지</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
