<section class="navbar">
  <button type="button" class="nav-item" data-target="home"><i class="ico ico-nav-home active"></i><span class="txt">홈</span></button>
  <button type="button" class="nav-item" data-target="admin-main"><i class="ico ico-nav-admin"></i><span class="txt">센터</span></button>
  <button type="button" class="nav-item" data-target="safety-main"><i class="ico ico-nav-safety"></i><span class="txt">안전</span></button>
  <button type="button" class="nav-item" data-target="traffic-main"><i class="ico ico-nav-traffic"></i><span class="txt">교통</span></button>
  <button type="button" class="nav-item" data-target="env-main"><i class="ico ico-nav-env"></i><span class="txt">환경</span></button>
  <button type="button" class="nav-item" data-target="life-main"><i class="ico ico-nav-life"></i><span class="txt">생활</span></button>
</section>
