/*
 * 페이지 레이아웃 (전역)
 */

$headerHeight: 5.6rem;
$bottomNavHeight: 5.2rem;

html {
  $minWidth: 10rem; // min 160px
  height: 100%;

  body {
    min-width: $minWidth;
    height: 100%;
    min-height: 100dvh;
    touch-action: pan-x pan-y;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  min-height: 100%;

  // map 포함된 wrapper
  &-map {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    height: 100vh;

    .contents {
      min-height: 100% !important;
      margin-top: 0;
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include position(fixed, 0, 0, null, 0, 100);
  width: 100%;
  padding: 0 1.6rem;
  height: $headerHeight;
  border-bottom: 1px solid var(--secondary);
  background-color: var(--white);

  &.is-sub {
    justify-content: center;
    flex-direction: row-reverse;
    border-bottom: 0;

    .header-title {
      justify-content: center;
    }

    .header-utils {
      position: absolute;
      top: 1.6rem;
      left: 1.6rem;
    }
  }
  &.is-hidden {
    display: none;
  }
  &-title {
    display: flex;
    align-items: center;
    padding: 0;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1;
    vertical-align: middle;
    color: var(--gray_90);

    .brand-logo {
      font-size: 0;
      @include iconVar(8, 1.5) {
        background: url('../images/brand-logo.svg') center no-repeat;
        background-size: contain;
      }
    }

    .main-tit {
      font-size: 1rem;
      font-weight: 400;
      letter-spacing: -0.06rem;
      word-break: keep-all;

      > strong {
        color: #fff600;
        font-weight: 800;
        font-size: 1.5rem;
      }
    }
  }

  &-utils {
    display: flex;
    gap: 1.6rem;

    .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 2.4rem;
      height: 2.4rem;

      &.active {
        .ico-alarm {
          @include iconVar(2.4, 2.4) {
            background: url('../images/icons/ico-alarm-new.svg') center no-repeat;
          }
        }
        &::after {
          content: '';
          display: inline-block;
          position: absolute;
          top: 0.4rem;
          right: 0.4rem;
          width: 0.3125rem;
          height: 0.3125rem;
          border-radius: 100%;
          background-color: #fff600;
        }
      }

      .ico {
        &-alarm {
          @include iconVar(2.4, 2.4) {
            background: url('../images/icons/ico-alarm.svg') center no-repeat;
          }
        }
        &-menu {
          @include iconVar(2.4, 2.4) {
            background: url('../images/icons/ico-menu.svg') center no-repeat;
          }
        }
        &-arrow-back {
          @include iconVar(2.4, 2.4) {
            background: url('../images/icons/ico-arrow-back.svg') center no-repeat;
          }
        }
      }
    }
  }

  // 서브 - view
  &-view {
    background: #fff;
    justify-content: center;
    color: #262626;
    flex-direction: row-reverse;

    & .header-utils {
      position: absolute;
      left: 0;

      .btn {
        display: block;
        position: relative;
        width: $headerHeight;
        height: 100%;
        line-height: $headerHeight;
      }
    }
  }

  // 서브 - search
  &-search {
    background: #fff;
    align-items: center;
    color: #262626;

    & .header-title {
      padding-left: 1.62rem;
      text-align: left;
    }
    & .header-utils {
      display: flex;
      justify-content: space-between;
      position: absolute;
      left: 0;
      right: 0;

      .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: $headerHeight;
        height: $headerHeight;
      }
    }
  }
}

// 컨테이너 기본형
.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: calc(100% - $headerHeight);
  margin-top: $headerHeight;
  padding: 0 0 $bottomNavHeight;
}

// 컨테이너 하단 버튼형
.container-btn {
  // min-height: calc(100% - $headerHeight - 3.6rem);

  padding-left: 1.6rem;
  padding-right: 1.6rem;
  padding-bottom: 8.8rem;

  .inner {
    max-height: 100%;
  }
}

// 컨테이너 중앙형
.container-float {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  margin-top: 0;
  padding: 1.6rem;
}

//
.container-scroll {
  overflow: auto;
  min-height: calc(100% - $headerHeight);
  padding-top: 2.4rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

// 헤더 + 세로 중앙
.container-find--comp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1.6rem;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 1.6rem;
  @include position(fixed, $b: 0, $l: 0, $r: 0, $z: 300);
  min-height: $bottomNavHeight;
  background-color: var(--white);

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: calc(100% + 3.2rem);
    margin: 0 -1.6rem;
    height: $bottomNavHeight;
    background-color: #fff;

    .nav-item {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      flex-basis: auto;
      flex-grow: 1;
      align-items: center;
      height: 100%;
      gap: 0.4rem;

      .ico {
        display: inline-block;
        width: 2.4rem;
        height: 2.4rem;

        &-nav-1 {
          @include iconVar(2.4, 2.4) {
            background: url('../images/nav/nav-01-off.svg') center no-repeat;
          }
        }
        &-nav-2 {
          @include iconVar(2.4, 2.4) {
            background: url('../images/nav/nav-02-off.svg') center no-repeat;
          }
        }
        &-nav-3 {
          @include iconVar(2.4, 2.4) {
            background: url('../images/nav/nav-03-off.svg') center no-repeat;
          }
        }
        &-nav-4 {
          @include iconVar(2.4, 2.4) {
            background: url('../images/nav/nav-04-off.svg') center no-repeat;
          }
        }
      }

      .txt {
        display: inline-block;
        width: 100%;
        font-weight: 600;
        font-size: 1.2rem;
        line-height: 1;
        color: #9d9d9d;
        text-align: center;
      }

      &.active .ico-nav-1 {
        @include iconVar(2.4, 2.4) {
          background: url('../images/nav/nav-01-on.svg') center no-repeat;
        }
      }
      &.active .ico-nav-2 {
        @include iconVar(2.4, 2.4) {
          background: url('../images/nav/nav-02-on.svg') center no-repeat;
        }
      }
      &.active .ico-nav-3 {
        @include iconVar(2.4, 2.4) {
          background: url('../images/nav/nav-03-on.svg') center no-repeat;
        }
      }
      &.active .ico-nav-4 {
        @include iconVar(2.4, 2.4) {
          background: url('../images/nav/nav-04-on.svg') center no-repeat;
        }
      }

      &.active .txt {
        font-weight: 700;
        color: #1e1e1e;
      }
    }
  }

  .btn-group {
    margin-bottom: 1.6rem;
  }
}
