.wrapper {
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;

  .main-splash {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7.75rem;
    height: 7.75rem;
    background: url('../images/splash/splash-bg.svg') center no-repeat;

    .logo {
      display: inline-block;
      line-height: 1;
      vertical-align: middle;
      width: 3.875rem;
      height: 4.70538rem;
      font-size: 0;
      text-indent: -9999px;
      background: url('../images/splash/splash-logo.svg') center no-repeat;
    }
  }
}