@charset "utf-8";

i.ic {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 1rem;
  color: $gray-300;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico_list_stroke:before {
  content: '\e9df';
}
.ico_fire_alert:before {
  content: '\e9e0';
}
.ico_dollar:before {
  content: '\e9dd';
}
.ico_modify:before {
  content: '\e9de';
}
.ico_image:before {
  content: '\e9dc';
}
.ico_car_front_loader:before {
  content: '\e9c5';
}
.ico_child:before {
  content: '\e9c8';
}
.ico_child_care:before {
  content: '\e9c9';
}
.ico_electric_meter:before {
  content: '\e9ca';
}
.ico_flooding:before {
  content: '\e9cb';
}
.ico_freezing_accident:before {
  content: '\e9cc';
}
.ico_gas_meter:before {
  content: '\e9cd';
}
.ico_inundation:before {
  content: '\e9ce';
}
.ico_light:before {
  content: '\e9cf';
}
.ico_park:before {
  content: '\e9d0';
}
.ico_protect:before {
  content: '\e9d1';
}
.ico_rainfall:before {
  content: '\e9d2';
}
.ico_road_security:before {
  content: '\e9d3';
}
.ico_sensor_side_parking:before {
  content: '\e9d4';
}
.ico_snow_box:before {
  content: '\e9d5';
}
.ico_store:before {
  content: '\e9d6';
}
.ico_streetlight:before {
  content: '\e9d7';
}
.ico_transportation:before {
  content: '\e9d8';
}
.ico_transportation_accident:before {
  content: '\e9d9';
}
.ico_water_barrel:before {
  content: '\e9da';
}
.ico_waterproof_facilities:before {
  content: '\e9db';
}
.ico_fire_facilities:before {
  content: '\e9c6';
}
.ico_fire_station:before {
  content: '\e9c7';
}
.ico_aed:before {
  content: '\e996';
}
.ico_ball_sports:before {
  content: '\e997';
}
.ico_icepack_box:before {
  content: '\e9a6';
}
.ico_battery_box:before {
  content: '\e998';
}
.ico_call_112:before {
  content: '\e999';
}
.ico_call_119:before {
  content: '\e99a';
}
.ico_car_accident:before {
  content: '\e99b';
}
.ico_car_stroke_illegal:before {
  content: '\e99c';
}
.ico_center_child:before {
  content: '\e99d';
}
.ico_center_senior:before {
  content: '\e99e';
}
.ico_construction:before {
  content: '\e99f';
}
.ico_convenience_store:before {
  content: '\e9a0';
}
.ico_detect_car:before {
  content: '\e9a1';
}
.ico_dispenser:before {
  content: '\e9a2';
}
.ico_exercise:before {
  content: '\e9a3';
}
.ico_explore1:before {
  content: '\e9a4';
}
.ico_fire_mountain:before {
  content: '\e9a5';
}
.ico_library:before {
  content: '\e9a7';
}
.ico_lpg_station:before {
  content: '\e9a8';
}
.ico_night_hospital:before {
  content: '\e9a9';
}
.ico_night_pharmacy:before {
  content: '\e9aa';
}
.ico_package:before {
  content: '\e9ab';
}
.ico_parking:before {
  content: '\e9ac';
}
.ico_pets_hospital:before {
  content: '\e9ad';
}
.ico_pets_pharmacy:before {
  content: '\e9ae';
}
.ico_pharmacy_box:before {
  content: '\e9af';
}
.ico_play_holding:before {
  content: '\e9b0';
}
.ico_playground:before {
  content: '\e9b1';
}
.ico_protect_child:before {
  content: '\e9b2';
}
.ico_protect_handicap:before {
  content: '\e9b3';
}
.ico_protect_night:before {
  content: '\e9b4';
}
.ico_protect_senior:before {
  content: '\e9b5';
}
.ico_resource_circulator:before {
  content: '\e9b6';
}
.ico_toilet:before {
  content: '\e9b7';
}
.ico_senior:before {
  content: '\e9b8';
}
.ico_shelter_1:before {
  content: '\e9b9';
}
.ico_shelter_2:before {
  content: '\e9ba';
}
.ico_shelter_3:before {
  content: '\e9bb';
}
.ico_swim:before {
  content: '\e9bc';
}
.ico_tank:before {
  content: '\e9bd';
}
.ico_terror_1:before {
  content: '\e9be';
}
.ico_terror_2:before {
  content: '\e9bf';
}
.ico_terror_3:before {
  content: '\e9c0';
}
.ico_vms_display:before {
  content: '\e9c1';
}
.ico_walk:before {
  content: '\e9c2';
}
.ico_wifi:before {
  content: '\e9c3';
}
.ico_wrestle:before {
  content: '\e9c4';
}
.ico_car_electric:before {
  content: '\e98c';
}
.ico_divide:before {
  content: '\e98d';
}
.ico_ev_station:before {
  content: '\e98e';
}
.ico_handicap:before {
  content: '\e98f';
}
.ico_landscape:before {
  content: '\e990';
}
.ico_link-disabled:before {
  content: '\e991';
}
.ico_link:before {
  content: '\e992';
}
.ico_play-disabled:before {
  content: '\e993';
}
.ico_police:before {
  content: '\e994';
}
.ico_traffic:before {
  content: '\e995';
}
.ico_dns:before {
  content: '\e900';
}
.ico_emergency:before {
  content: '\e901';
}
.ico_fire_extinguisher:before {
  content: '\e902';
}
.ico_fire_hydrant:before {
  content: '\e903';
}
.ico_fire:before {
  content: '\e904';
}
.ico_health_and_safety:before {
  content: '\e905';
}
.ico_hospital:before {
  content: '\e906';
}
.ico_nuclear:before {
  content: '\e907';
}
.ico_pharmacy:before {
  content: '\e908';
}
.ico_recycle:before {
  content: '\e909';
}
.ico_SOS:before {
  content: '\e90a';
}
.ico_support:before {
  content: '\e90b';
}
.ico_car_filled:before {
  content: '\e90c';
}
.ico_car_stroke:before {
  content: '\e90d';
}
.ico_drone:before {
  content: '\e90e';
}
.ico_fire_truck:before {
  content: '\e90f';
}
.ico_air:before {
  content: '\e910';
}
.ico_airware:before {
  content: '\e911';
}
.ico_clear_night:before {
  content: '\e912';
}
.ico_cloudy_snowing:before {
  content: '\e913';
}
.ico_cloudy:before {
  content: '\e914';
}
.ico_partly_cloudy_day:before {
  content: '\e915';
}
.ico_partly_cloudy_night:before {
  content: '\e916';
}
.ico_rainy:before {
  content: '\e917';
}
.ico_snow:before {
  content: '\e918';
}
.ico_snowing:before {
  content: '\e919';
}
.ico_sunny_snowing:before {
  content: '\e91a';
}
.ico_sunny:before {
  content: '\e91b';
}
.ico_thunderstorm:before {
  content: '\e91c';
}
.ico_arrow_drop_down:before {
  content: '\e91d';
}
.ico_arrow_drop_up:before {
  content: '\e91e';
}
.ico_arrow_left:before {
  content: '\e91f';
}
.ico_arrow_right:before {
  content: '\e920';
}
.ico_filter_alt:before {
  content: '\e921';
}
.ico_filter_list:before {
  content: '\e922';
}
.ico_list_bulleted:before {
  content: '\e923';
}
.ico_menu:before {
  content: '\e924';
}
.ico_more_horiz:before {
  content: '\e925';
}
.ico_more_vert:before {
  content: '\e926';
}
.ico_reset:before {
  content: '\e927';
}
.ico_sort:before {
  content: '\e928';
}
.ico_sorting:before {
  content: '\e929';
}
.ico_sync:before {
  content: '\e92a';
}
.ico_arrow_down_lg:before {
  content: '\e92b';
}
.ico_arrow_down_long:before {
  content: '\e92c';
}
.ico_arrow_down_short:before {
  content: '\e92d';
}
.ico_arrow_down_sm:before {
  content: '\e92e';
}
.ico_arrow_first:before {
  content: '\e92f';
}
.ico_arrow_left_down_long:before {
  content: '\e930';
}
.ico_arrow_left_down_short:before {
  content: '\e931';
}
.ico_arrow_left_lg:before {
  content: '\e932';
}
.ico_arrow_left_long:before {
  content: '\e933';
}
.ico_arrow_left_short:before {
  content: '\e934';
}
.ico_arrow_left_sm:before {
  content: '\e935';
}
.ico_arrow_left_up_long:before {
  content: '\e936';
}
.ico_arrow_left_up_short:before {
  content: '\e937';
}
.ico_arrow_more_down:before {
  content: '\e938';
}
.ico_arrow_more_up:before {
  content: '\e939';
}
.ico_arrow_right_down_long:before {
  content: '\e93a';
}
.ico_arrow_right_down_short:before {
  content: '\e93b';
}
.ico_arrow_right_lg:before {
  content: '\e93c';
}
.ico_arrow_right_long:before {
  content: '\e93d';
}
.ico_arrow_right_short:before {
  content: '\e93e';
}
.ico_arrow_right_sm:before {
  content: '\e93f';
}
.ico_arrow_right_up_long:before {
  content: '\e940';
}
.ico_arrow_right_up_short:before {
  content: '\e941';
}
.ico_arrow_up_lg:before {
  content: '\e942';
}
.ico_arrow_up_long:before {
  content: '\e943';
}
.ico_arrow_up_short:before {
  content: '\e944';
}
.ico_arrow_up_sm:before {
  content: '\e945';
}
.ico_go_to_top:before {
  content: '\e946';
}
.ico_last_first:before {
  content: '\e947';
}
.ico_attach_file_add:before {
  content: '\e948';
}
.ico_attach_file:before {
  content: '\e949';
}
.ico_camera:before {
  content: '\e94a';
}
.ico_campaign:before {
  content: '\e94b';
}
.ico_download:before {
  content: '\e94c';
}
.ico_edit:before {
  content: '\e94d';
}
.ico_group_add:before {
  content: '\e94e';
}
.ico_group:before {
  content: '\e94f';
}
.ico_logout:before {
  content: '\e950';
}
.ico_profile_circle:before {
  content: '\e951';
}
.ico_structure:before {
  content: '\e952';
}
.ico_upload:before {
  content: '\e953';
}
.ico_user_add:before {
  content: '\e954';
}
.ico_user:before {
  content: '\e955';
}
.ico_view_default:before {
  content: '\e956';
}
.ico_activity_zone:before {
  content: '\e957';
}
.ico_analytics:before {
  content: '\e958';
}
.ico_cctv:before {
  content: '\e959';
}
.ico_center_focus:before {
  content: '\e95a';
}
.ico_close_fullscreen:before {
  content: '\e95b';
}
.ico_dashboard:before {
  content: '\e95c';
}
.ico_erase:before {
  content: '\e95d';
}
.ico_explore:before {
  content: '\e95e';
}
.ico_hub:before {
  content: '\e95f';
}
.ico_length:before {
  content: '\e960';
}
.ico_list_art:before {
  content: '\e961';
}
.ico_location:before {
  content: '\e962';
}
.ico_map_layers:before {
  content: '\e963';
}
.ico_map:before {
  content: '\e964';
}
.ico_nest_cam_iq:before {
  content: '\e965';
}
.ico_open_in_full:before {
  content: '\e966';
}
.ico_priority:before {
  content: '\e967';
}
.ico_radar:before {
  content: '\e968';
}
.ico_radius:before {
  content: '\e969';
}
.ico_road_view:before {
  content: '\e96a';
}
.ico_settings:before {
  content: '\e96b';
}
.ico_zoom_in:before {
  content: '\e96c';
}
.ico_zoom_out:before {
  content: '\e96d';
}
.ico_add_circle:before {
  content: '\e96e';
}
.ico_add:before {
  content: '\e96f';
}
.ico_apps:before {
  content: '\e970';
}
.ico_block:before {
  content: '\e971';
}
.ico_calendarpicker:before {
  content: '\e972';
}
.ico_call:before {
  content: '\e973';
}
.ico_cancel:before {
  content: '\e974';
}
.ico_check_circle:before {
  content: '\e975';
}
.ico_check_lg:before {
  content: '\e976';
}
.ico_check_sm:before {
  content: '\e977';
}
.ico_close:before {
  content: '\e978';
}
.ico_delete:before {
  content: '\e979';
}
.ico_error:before {
  content: '\e97a';
}
.ico_favorite_filled:before {
  content: '\e97b';
}
.ico_favorite:before {
  content: '\e97c';
}
.ico_fullscreen_exit:before {
  content: '\e97d';
}
.ico_fullscreen:before {
  content: '\e97e';
}
.ico_help:before {
  content: '\e97f';
}
.ico_home:before {
  content: '\e980';
}
.ico_info:before {
  content: '\e981';
}
.ico_like_filled:before {
  content: '\e982';
}
.ico_like:before {
  content: '\e983';
}
.ico_notifications:before {
  content: '\e984';
}
.ico_open_in_new:before {
  content: '\e985';
}
.ico_phone:before {
  content: '\e986';
}
.ico_play:before {
  content: '\e987';
}
.ico_remove:before {
  content: '\e988';
}
.ico_search:before {
  content: '\e989';
}
.ico_sensors:before {
  content: '\e98a';
}
.ico_timepicker:before {
  content: '\e98b';
}
