.page-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  @include position(fixed, 0, 0, 0, 0, 500);

  .dimmed {
    @include position(absolute, 0, 0, 0, 0, 1);
    background: rgba(0, 0, 0, 0.6);
  }

  .load-msg {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    margin: 0 1.88rem;
    padding: 1.5rem 0;
    border-radius: 1.25rem;
    text-align: center;
    background-color: #fff;
    z-index: 10;

    .ico {
      margin: 0 auto;
    }

    > p {
      font-size: 0.875rem;
      color: #878787;
      line-height: 1.25rem;
    }
  }
}
