// 라운드 박스 목록
.round-box-group {
  ul {
    display: flex;
    justify-content: space-between;
    gap: 0.62rem;
    width: 100%;

    li {
      flex: 1 0 auto;

      .btn {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        width: 100%;
        padding: 0.5rem 0.84rem;
        border-radius: 0.625rem;
        text-align: center;
        background-color: #f4f4f4;

        .ico {
          width: 1.75rem;
          height: 1.75rem;
          margin: 0 auto;
        }
        .tx-name {
          display: block;
          width: 100%;
          font-weight: 700;
          font-size: 0.75rem;
          color: #1e1e1e;
          text-align: center;
        }
      }

      &.block-2 {
        flex: 3 1 auto;
      }
    }
  }
}
