.tab-container {
  .tab-nav {
    position: sticky;
    top: $headerHeight;
    height: $headerHeight; // 5.6rem
    z-index: 200;
    background-color: #fff;

    ul {
      display: flex;
      justify-content: space-between;
      position: relative;
      width: 100%;
      height: 100%;

      &::after {
        content: '';
        border-bottom: 1px solid #e5e5e5;
        @include position($b: 0, $l: 0, $r: 0, $z: 1);
      }
      li {
        width: 100%;
        height: 100%;

        .btn {
          position: relative;
          width: 100%;
          height: 100%;
          font-weight: 400;
          font-size: 1.6rem;
          color: #737373;
          text-align: center;
          line-height: 1;
          border-bottom: 2px solid transparent;

          &.active {
            font-weight: 600;
            color: var(--gray_90);
            border-color: var(--gray_90);
          }
        }
      }
    }
  }
  .tab-contents {
    height: 100%;
    background-color: #f8f8f8;

    .tab-pane {
      display: none;

      &.active {
        display: block;
      }
    }
  }
}
