<!-- 검색 결과 목록 -->
<section class="bottomsheet bs-search-result is-hidden">
  <div class="bottomsheet-inner">
    <!-- 버튼 : 바텀시트 토글 -->
    <div class="handlebar">
      <button type="button" class="btn btnSheetToggle">
        <i class="ico ico-bottomsheet-handle"></i>
      </button>
    </div>

    <!-- 바텀시트 상세 -->
    <div class="bottomsheet-content-info">
      <div class="info-head">
        <!-- 타이틀 -->
        <div class="tx-title">
          <h3>검색 결과</h3>
        </div>
      </div>

      <div class="info-body">
        <div class="body-inner">
          <div class="result-list">
            <ul class="scroll-body">
              <li>
                <!-- 
                  [25.06.10] 안양시 수정사항 반영
                  1. 생활 > 야간 휴일 의료기관 > 상세 정보(운영상태, 전화번호, 운영시간 등) 노출 
                  2. 의료기관 검색에 한하여, 네이버 상세보기 인터넷 브라우저 또는 웹뷰 이동 (링크 예: https://buly.kr/EdtI037)
                     -> 그 외, '카카오맵에서 보기' 액션 유지
                -->
                <div class="medical-cont">
                  <div class="tx-row">
                    <button type="button" class="btn tx-name">검색 항목명1</button>
                    <button type="button" class="btn-phone">02-1234-5678</button>
                  </div>
                  <div class="tx-row">
                    <div class="tx-row-inline">
                      <span class="tx-cate">카테고리</span>
                      <!--
                        운영 중 : st-open
                        미운영 :  st-close

                        드롭다운 토글 : is-shown 클래스 (add/remove)
                        @/assets/js/bottomsheet.js
                      -->
                      <button type="button" class="btn-state st-open">운영 중</button>
                      <!-- <button type="button" class="btn-state st-close">미운영</button> -->
                    </div>
                    <div>
                      <p class="tx-distance">100m</p>
                    </div>
                  </div>
                  <div class="week-status">
                    <ul>
                      <li><span>월</span><span>10:00~00:00</span></li>
                      <li><span>화</span><span>10:00~00:00</span></li>
                      <li><span>수</span><span>10:00~00:00</span></li>
                      <li><span>목</span><span>10:00~00:00</span></li>
                      <li><span>금</span><span>10:00~00:00</span></li>
                      <li><span>토</span><span>10:00~00:00</span></li>
                      <li><span>일</span><span>10:00~00:00</span></li>
                      <li><span>공휴일</span><span>10:00~00:00</span></li>
                    </ul>
                  </div>

                  <div class="tx-row">
                    <span class="tx-address">경기 광명시 일직로 43</span>
                  </div>
                </div>
              </li>
              <li>
                <div class="medical-cont">
                  <div class="tx-row">
                    <button type="button" class="btn tx-name">검색 항목명1</button>
                    <button type="button" class="btn-phone">02-1234-5678</button>
                  </div>
                  <div class="tx-row">
                    <div class="tx-row-inline">
                      <span class="tx-cate">카테고리</span>
                      <!-- <button type="button" class="btn-state st-open">운영 중</button> -->
                      <button type="button" class="btn-state st-close">미운영</button>
                    </div>
                    <div>
                      <p class="tx-distance">100m</p>
                    </div>
                  </div>
                  <div class="week-status">
                    <ul>
                      <li><span>월</span><span>10:00~00:00</span></li>
                      <li><span>화</span><span>10:00~00:00</span></li>
                      <li><span>수</span><span>10:00~00:00</span></li>
                      <li><span>목</span><span>10:00~00:00</span></li>
                      <li><span>금</span><span>10:00~00:00</span></li>
                      <li><span>토</span><span>10:00~00:00</span></li>
                      <li><span>일</span><span>10:00~00:00</span></li>
                      <li><span>공휴일</span><span>10:00~00:00</span></li>
                    </ul>
                  </div>

                  <div class="tx-row">
                    <span class="tx-address">경기 광명시 일직로 43</span>
                  </div>
                </div>
              </li>
              <li>
                <div class="medical-cont">
                  <div class="tx-row">
                    <button type="button" class="btn tx-name">검색 항목명1</button>
                    <button type="button" class="btn-phone">02-1234-5678</button>
                  </div>
                  <div class="tx-row">
                    <div class="tx-row-inline">
                      <span class="tx-cate">카테고리</span>
                      <!-- <button type="button" class="btn-state st-open">운영 중</button> -->
                      <button type="button" class="btn-state st-close">미운영</button>
                    </div>
                    <div>
                      <p class="tx-distance">100m</p>
                    </div>
                  </div>
                  <div class="week-status">
                    <ul>
                      <li><span>월</span><span>10:00~00:00</span></li>
                      <li><span>화</span><span>10:00~00:00</span></li>
                      <li><span>수</span><span>10:00~00:00</span></li>
                      <li><span>목</span><span>10:00~00:00</span></li>
                      <li><span>금</span><span>10:00~00:00</span></li>
                      <li><span>토</span><span>10:00~00:00</span></li>
                      <li><span>일</span><span>10:00~00:00</span></li>
                      <li><span>공휴일</span><span>10:00~00:00</span></li>
                    </ul>
                  </div>

                  <div class="tx-row">
                    <span class="tx-address">경기 광명시 일직로 43</span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- // 바텀시트 상세 -->
  </div>
</section>
<!-- // 검색 결과 목록 -->

<!-- 최근 검색 키워드&입력 키워드 목록 노출 -->
<div class="modal modal-keyword">
  <div class="modal-inner">
    <!-- 검색 -->
    <div class="keyword-head">
      <div class="search-form">
        <button type="button" class="btn btn-modal-close">
          <i class="ico ico-chevron-left"></i>
        </button>
        <button type="button" class="btn btn-ipt">
          <input type="text" class="ipt-text" placeholder="무엇을 찾아드릴까요?" />
          <i class="ico ico-search-action">검색</i>
        </button>
      </div>
    </div>
    <!-- // 검색 -->

    <section class="container container-keyword">
      <!-- 키워드 입력 이후 미노출 -->
      <div class="search-keyword-util">
        <p>최근 검색 키워드</p>
        <button type="button" class="btn">이력 삭제</button>
      </div>

      <div class="search-keyword-list scroll-body">
        <div class="result-list">
          <ul>
            <li class="no-item">
              <p class="tx-msg">아직 검색한 내용이 없어요.<br />새롭게 검색을 시작해 볼까요?.</p>
              <!-- <p class="tx-msg">검색 결과가 없습니다 .<br />다른 키워드를 시도해보세요.</p> -->
            </li>
            <!-- 
                  입력 전 : 최근 검색 키워드 노출 
                -->
            <!-- <li class="no-item"><p class="tx-msg">아직 검색한 내용이 없어요.<br />새롭게 검색을 시 작해 볼까요?</p></li> -->
            <li>
              <!-- 키워드 또는 검색어 클릭 -> 검색 정보 상세 이동 -->
              <button type="button" class="btn btn-key">
                <p class="tx-name">최근 검색 키워드 이력1</p>
                <p class="tx-address">주소 정보</p>
              </button>
              <div class="tx-cont">
                <p class="tx-min">20분 전</p>
                <button role="button" class="btn-remove" onclick="$(this).closest('li').remove()">
                  <i class="ico ico-x-sm"></i>
                </button>
              </div>
            </li>
            <li>
              <button type="button" class="btn btn-key">
                <p class="tx-name">최근 검색 키워드 이력2</p>
                <p class="tx-address">주소 정보</p>
              </button>
              <div class="tx-cont">
                <p class="tx-min">20분 전</p>
                <button role="button" class="btn-remove" onclick="$(this).closest('li').remove()">
                  <i class="ico ico-x-sm"></i>
                </button>
              </div>
            </li>
            <li>
              <button type="button" class="btn btn-key">
                <p class="tx-name">최근 검색 키워드 이력3</p>
                <p class="tx-address">주소 정보</p>
              </button>
              <div class="tx-cont">
                <p class="tx-min">20분 전</p>
                <button role="button" class="btn-remove" onclick="$(this).closest('li').remove()">
                  <i class="ico ico-x-sm"></i>
                </button>
              </div>
            </li>
            <li>
              <button type="button" class="btn btn-key">
                <p class="tx-name">최근 검색 키워드 이력4</p>
                <p class="tx-address">주소 정보</p>
              </button>
              <div class="tx-cont">
                <p class="tx-min">20분 전</p>
                <button role="button" class="btn-remove" onclick="$(this).closest('li').remove()">
                  <i class="ico ico-x-sm"></i>
                </button>
              </div>
            </li>

            <!-- 
                  입력 후 
                -->
            <!-- <li class="no-item"><p class="tx-msg">검색 결과가 없습니다.<br />다른 키워드를 시도해보세요.</p></li> -->
            <li>
              <button type="button" class="btn btn-key">
                <p class="tx-name">일치한 키워드</p>
                <p class="tx-address">광명시 일직로 43</p>
              </button>
              <div class="tx-cont">
                <p class="tx-cate">방범 CCTV</p>
                <p class="tx-distance">100m</p>
              </div>
            </li>
            <li>
              <button type="button" class="btn btn-key">
                <p class="tx-name">{시설물 ID}</p>
                <p class="tx-address">{설치 주소}</p>
              </button>
              <div class="tx-cont">
                <p class="tx-cate">{카테고리}</p>
                <p class="tx-distance">100m</p>
              </div>
            </li>
            <li>
              <button type="button" class="btn btn-key">
                <p class="tx-name">{시설물 ID}</p>
                <p class="tx-address">{설치 주소}</p>
              </button>
              <div class="tx-cont">
                <p class="tx-cate">{카테고리}</p>
                <p class="tx-distance">100m</p>
              </div>
            </li>
            <li>
              <button type="button" class="btn btn-key">
                <p class="tx-name">{시설물 ID}</p>
                <p class="tx-address">{설치 주소}</p>
              </button>
              <div class="tx-cont">
                <p class="tx-cate">{카테고리}</p>
                <p class="tx-distance">100m</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</div>
<!-- // 최근 검색 키워드&입력 키워드 목록 노출 -->
