.filter-group {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2.4rem 1.6rem;

  .filter-row {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    line-height: 2.2rem;

    .filter-tit {
      flex-shrink: 0;
      width: 6rem;
      font-size: 1.4rem;
      color: var(--gray_90);
      line-height: 100%;
    }

    .filter-info {
      display: flex;
      align-items: center;
      gap: 1.2rem;
      line-height: 100%;
      flex-basis: calc(100% - 6rem - 1.6rem);

      .filter-select {
        flex-basis: 100%;
        display: flex;
        align-items: center;
        gap: 0.8rem;

        .ico-location {
          position: relative;
          top: -0.2rem;
          @include iconVar(2, 2) {
            background: url('../images/icons/ico-marker.svg') center no-repeat;
            background-size: contain;
          }
        }
        .ico-calendar {
          position: relative;
          top: -0.2rem;
          @include iconVar(2, 2) {
            background: url('../images/icons/ico-calendar.svg') center no-repeat;
            background-size: contain;
          }
        }

        .tx-location {
          display: flex;
          align-items: center;
          gap: 0.4rem;
          font-weight: 700;
          font-size: 1.6rem;
          line-height: 2.2rem;
          vertical-align: middle;

          &::after {
            content: '';
            position: relative;
            top: -0.2rem;
            vertical-align: middle;
            @include iconVar(2, 2) {
              background: url('../images/icons/ico-arrow-down.svg') center no-repeat;
              background-size: contain;
            }
          }
        }
      }

      > .btn {
        flex-basis: 2.4rem;

        .ico-filter {
          @include iconVar(2.4, 2.4) {
            background: url('../images/icons/ico-filter.svg') center no-repeat;
            background-size: contain;
          }
        }
        .ico-change {
          @include iconVar(2.4, 2.4) {
            background: url('../images/icons/ico-change.svg') center no-repeat;
            background-size: contain;
          }
        }
      }

      .move-type-list {
        overflow: hidden;
        overflow-x: auto;
        width: calc(100vw - 9.2rem);
        padding-right: 1.6rem;
        white-space: nowrap;

        .btn-item {
          display: inline-block;
          padding: 0.8rem 1.2rem;
          height: 3.6rem;
          border: 1px solid #d4d4d4;
          border-radius: 3.6rem;
          font-size: 1.4rem;
          color: #737373;

          &.active {
            border-color: var(--gray_90);
            font-weight: 600;
            color: var(--gray_90);
          }
        }
      }
    }
  }
}

.dropdown {
  flex-grow: 0;
  position: relative;
  width: 100%;

  &-toggle {
    display: inline-block;
    position: relative;
    width: 100%;
    padding: 1rem 4rem 1rem 1.2rem;
    border-radius: 0.4rem;
    border: 1px solid #d4d4d4;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2rem;
    vertical-align: middle;
    text-align: left;
    min-width: 0; // flex item에서 text-overflow가 제대로 작동하도록 추가

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 1.6rem;
      margin-top: -1.2rem;
      @include iconVar(2.4, 2.4) {
        background: url('../images/icons/ico-arrow-down.svg') center no-repeat;
        background-size: contain;
      }
    }

    &:hover,
    &.active {
      border-color: var(--primary);
      &::after {
        transform: rotate(180deg);
      }
    }
  }
}
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  min-width: 10rem;
  width: 100%;
  margin-top: 0.6rem;
  font-size: 1.6rem;
  z-index: 1000;
  border: 1px solid var(--gray_20);
  border-radius: 0.4rem;
  background-color: var(--white);

  > li {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1.2rem;
  }
  .dropdown-item {
    font-size: 1.4rem;
    line-height: 2.1rem;

    &:hover {
      background-color: #eff6ff;
    }
  }
}

// 홈 상단 배너
.container-banner-top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 7.5rem;
  padding: 0 !important;
  background: url('../../images//banner/banner-home-center.svg') center no-repeat;
  background-size: cover;

  .banner-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.62rem;
    height: 100%;
    padding: 1.88rem 2.15rem;

    p {
      text-align: center;
      color: #fff;
      word-break: keep-all;

      &.tx-sub {
        font-size: 0.75rem;
        line-height: 0.875rem;
      }
      &.tx-head {
        font-weight: 700;
        font-size: 1.125rem;
        line-height: 1.575rem;
      }
    }

    .btn-group {
      display: flex;
      gap: 0.5rem;
      margin-top: 0.62rem;

      .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 8rem;
        height: 2rem;
        border-radius: 3.13rem;
        font-weight: 700;
        font-size: 0.875rem;
        color: #2a41cd;
        background-color: #fff;

        &-exinfo {
          color: #fff;
          background-color: #2a41cd;
        }
      }
    }
  }
}

.contents {
  // 자율주행 똑타 버튼
  .container-btn {
    padding: 1rem 1rem 1.25rem;

    .btn-group {
      display: flex;
      gap: 1rem;
      .btn {
        display: flex;
        align-items: end;
        flex: 1 0 calc(50% - 1rem);
        overflow: hidden;
        height: 6.25rem;
        border-radius: 0.625rem;

        &.btn-ex {
          background: url('../../images//banner/banner-home-ex.png') center no-repeat;
          background-size: cover;
        }
        &.btn-bus {
          background: url('../../images//banner/banner-home-busreserv.png') center no-repeat;
          background-size: cover;
        }

        .txt {
          width: 100%;
          height: 1.625rem;
          font-weight: 500;
          font-size: 0.75rem;
          line-height: 1.625rem;
          color: #fff;
          background: rgba(0, 0, 0, 0.6);
        }
      }
    }
    // .auto-mobility {
    //   position: relative;
    //   width: 100%;

    //   &::before {
    //     content: '';
    //     @include position(absolute, 0, 0, 0, 0, -1);
    //     border-radius: 0.4rem;
    //     border: 1px solid #ededed;
    //   }

    //   .btn {
    //     display: flex;
    //     justify-content: space-between;
    //     align-items: center;
    //     gap: 0.75rem;
    //     width: 100%;
    //     padding: 0.69rem 1rem;

    //     .ico-bus {
    //     }
    //     .tx-name {
    //       flex-grow: 1;
    //       text-align: left;
    //       font-size: 0.875rem;
    //       font-weight: 600;
    //       color: #1e1e1e;
    //     }
    //   }
    // }
  }

  // 365 안전 슬라이드
  .container-slide {
    padding-top: 0 !important;
    padding-bottom: 0 !important;

    .safety-swiper {
      .swiper-slide {
        height: 10.3125rem;
      }

      .swiper-cube-shadow {
        display: none;
      }

      .box-slide {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 1.25rem;
        border-radius: 0.4rem;
        background-color: #f4f4f4;

        // 기상
        // 3/18 디자인 변경에 따라 슬라이드에서 해당 스타일 사용하지 않음.
        &.box-weather {
          .summary {
            flex-grow: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1.25rem;

            .icon {
              img {
                width: 4.875rem;
                height: 4.875rem;
              }
            }
            .tx-temp {
              font-weight: 700;
              font-size: 2.125rem;
              color: #1e1e1e;
            }

            .tx-info {
              display: flex;
              flex-direction: column;
              gap: 0.38rem;

              dl {
                display: flex;
                gap: 0.38rem;
                font-size: 0.75rem;

                dt {
                  font-weight: 500;
                  color: #545454;
                }
                dd {
                  font-weight: 700;
                }
              }
            }
          }
          .message {
            margin-top: 0.62rem;
            padding: 0.62rem;
            border-radius: 0.4rem;
            color: #1e1e1e;
            text-align: center;
            font-weight: 600;
            font-size: 0.875rem;
            line-height: 1.0625rem;
            background-color: #fff;
          }
        }

        // CCTV재난 알림
        &.box-cctv-alarm {
          background-color: #fee;

          .inner {
            display: flex;
            flex-direction: column;
            gap: 0.56rem;
            width: 100%;

            .btn {
              display: flex;
              align-items: center;

              &.btn-alarm {
                gap: 0.62rem;
                padding: 0.62rem;
                border-radius: 0.625rem;
                border: 1px solid #f52d2d;
                background-color: #fff;

                .tx-name {
                  flex: 1 0 auto;
                  font-weight: 600;
                  font-size: 0.875rem;
                  text-align: left;
                  color: #f52d2d;
                }
              }

              &.btn-category {
                justify-content: space-between;
                padding: 1.69rem 0.62rem;
                font-weight: 700;
                font-size: 1.25rem;
                color: #1e1e1e;
              }
            }
          }
        }

        // 기상 특보
        &.box-weather-warning {
          .inner {
            display: flex;
            flex-direction: column;
            gap: 0.56rem;
            width: 100%;

            .btn {
              display: flex;
              align-items: center;
              pointer-events: none;

              &.btn-alarm {
                gap: 0.62rem;
                padding: 0.62rem;
                border-radius: 0.625rem;
                border: 1px solid #2a41cd;
                background-color: #fff;

                .tx-name {
                  flex: 1 0 auto;
                  font-weight: 600;
                  font-size: 0.875rem;
                  text-align: left;
                  color: #2a41cd;
                }
              }

              &.btn-weather {
                justify-content: center;
                gap: 1.25rem;
                padding: 0;
                font-weight: 700;
                font-size: 1.25rem;
                color: #1e1e1e;
                .icon {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 4.875rem;
                  height: 4.875rem;
                  text-align: center;
                }
                .tx-name {
                  flex-basis: 8.75rem;
                  text-align: left;
                }
              }
            }
          }
        }
      }
    }
  }

  // 시민정보
  .container-info {
    padding-top: 0;
    padding-bottom: 0;
  }

  // 날씨 정보
  .container-weather {
    padding-bottom: 0;

    // 기상
    .box-weather {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      padding: 0.38rem 1.25rem;
      border-radius: 0.4rem;
      background-color: #f4f4f4;

      .summary {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.25rem;

        .icon {
          img {
            width: 4.875rem;
            height: 4.875rem;
          }
        }
        .tx-temp {
          font-weight: 700;
          font-size: 2.125rem;
          color: #1e1e1e;
        }

        .tx-info {
          display: flex;
          flex-direction: column;
          gap: 0.38rem;

          dl {
            display: flex;
            gap: 0.38rem;
            font-size: 0.75rem;

            dt {
              font-weight: 500;
              color: #545454;
            }
            dd {
              font-weight: 700;
            }
          }
        }
      }
      .message {
        margin-top: 0.62rem;
        padding: 0.62rem;
        border-radius: 0.4rem;
        color: #1e1e1e;
        text-align: center;
        font-weight: 600;
        font-size: 0.875rem;
        line-height: 1.0625rem;
        background-color: #fff;
      }
    }
  }

  // 더보기
  .container-menu {
    padding-bottom: 0;
  }

  // 외부 링크 배너
  .container-external {
    padding: 1.25rem 0;
    .box-external {
      width: 100%;
      height: 3.75rem;

      .swiper.external-swiper {
        // overflow: visible;
        padding-left: 1rem;
        transition-timing-function: linear !important;

        .btn {
          height: 3.75rem;
          > img {
            // display: block;
            width: auto;
            height: 100%;
            // object-fit: cover;
          }
        }
      }
    }
  }
}

.inp-switch {
  display: flex;
  height: 20px;
  font-size: 0;
  text-indent: -9999rem;
  align-items: center;
  padding-right: 44px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 42px;
    height: 20px;
    background-color: #ccc;
    border-radius: 10px;
    transition: 0.3s;
  }
  &::after {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 9px;
    top: 1px;
    right: 22px;
    transition: 0.3s;
  }

  & input {
    display: none;
  }

  &.active {
    color: #1a70dd;
    font-weight: 600;

    &::before {
      background-color: #1a70dd;
    }
    &::after {
      right: 1px;
    }
  }
}
