.contents {
  .container-view {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
    margin-bottom: 8rem;
    padding: 1.25rem 1rem;

    .view-banner {
      .view-banner-swiper {
        .swiper-slide {
          .img-banner {
            width: 100%;
            height: auto;
            vertical-align: top;
          }
        }
      }
    }

    .article-box {
      display: flex;
      flex-direction: column;

      .article-head {
        display: flex;
        flex-direction: column;
        gap: 0.62rem;
        padding-bottom: 0.88rem;
        border-bottom: 1px solid #ebebeb;

        .tx-title {
          display: block;
          font-weight: 700;
          font-size: 1rem;
          color: #1e1e1e;
        }
        .tx-utils {
          display: flex;
          justify-content: space-between;

          > p {
            font-weight: 500;
            font-size: 0.75rem;
            line-height: 1.4rem;
            color: #878787;
          }
        }
        .tx-address {
          display: flex;
          width: 100%;
          font-weight: 500;
          font-size: 0.75rem;
          line-height: 1.4rem;
          color: #878787;
        }
      }

      .article-body {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        padding: 1.25rem 0;

        .tx-tit {
          font-weight: 600;
          font-size: 1rem;
          color: #1e1e1e;
          line-height: 1.188rem;
        }
        .tx-sub {
          font-size: 0.875rem;
          line-height: 1.4rem;
          letter-spacing: 0.01rem;
          color: #1e1e1e;
        }
      }

      .article-foot {
        display: flex;

        .attach-file {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          width: 100%;

          .tx-tit {
            font-weight: 700;
            font-size: 0.875rem;
            color: #1e1e1e;
            line-height: 1.4rem;
          }
          ul {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            li {
              display: flex;
              justify-content: space-between;
              width: 100%;
              gap: 0.25rem;
              align-items: center;

              .file-item {
                display: flex;
                justify-content: space-between;
                gap: 1rem;
                align-items: center;
                flex-grow: 1;
                flex-basis: auto;
                padding: 0.25rem 0;
                font-size: 0.875rem;
                color: #1e1e1e;
                line-height: 1.4rem;
              }
            }
          }
        }
      }
    }
  }
}

.contents {
  .container-view {
    .terms {
      overflow-x: hidden;
      padding: 0;

      & .provide {
        color: #212121;

        & .desc {
          font-size: 0.85rem;
          font-weight: 400;
          line-height: 1.4rem;
          letter-spacing: 0.016rem;
          color: #212121;
          padding-bottom: 1.2rem;
        }
        & .in_wrap {
          & + .in_wrap {
            padding-top: 1.25rem;
          }
          & .tit {
            font-weight: 700;
            font-size: 0.85rem;
            line-height: 1.4rem;
            letter-spacing: 0.016rem;
            padding-bottom: 0.3rem;
          }
          & .txt_list {
            font-weight: 400;
            font-size: 0.85rem;
            line-height: 1.4rem;
            letter-spacing: 0.016rem;

            & .txt_list {
              margin: 0 0.8rem;
            }
          }
        }

        a {
          text-decoration: underline;
          color: var(--primary);
        }

        .btn-link {
          display: inline-flex;
          align-items: center;
          gap: 0.62rem;
          margin: 0.25rem 0;
          padding: 0.25rem 0.6rem;
          border: 1px solid var(--gray_40);
          border-radius: 0.25rem;
          font-size: 0.85rem;
          text-decoration: none;
          color: var(--gray_70);

          .ic {
            font-weight: 300;
            color: var(--gray_50);
          }
        }
      }
    }
    .terms-table {
      width: 100%;
      tr {
        th,
        td {
          padding: 0.2rem;
          border: 1px solid #b1b1b1;
          font-size: 0.75rem;
          line-height: 1.4rem;
          color: #212121;
          text-align: center;
          word-break: keep-all;
        }
      }
    }
  }
}
